<%- include('./partials/head.ejs') %>

<header>
  <img src="./assets/sportieklogo.png" alt="" />
</header>

<main>
  <section class="information">
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Accommodatie</th>
          <th>Kamertype</th>
          <th>Personen</th>
          <th>25-11-2023</th>
          <th>02-12-2023</th>
          <th>09-12-2023</th>
          <th>16-12-2023</th>
          <th>23-12-2023</th>
          <th>30-12-2023</th>
          <th>06-01-2024</th>
          <th>13-01-2024</th>
          <th>20-01-2024</th>
          <th>27-01-2024</th>
          <th>03-02-2024</th>
          <th>17-02-2024</th>
          <th>24-02-2024</th>
          <th>02-03-2024</th>
          <th>09-03-2024</th>
          <th>16-03-2024</th>
          <th>23-03-2024</th>
          <th>30-03-2024</th>
          <th>06-04-2024</th>
          <th>13-04-2024</th>
          <th>20-04-2024</th>
          <th>27-04-2024</th>
        </tr>
      </thead>
      <tbody>
        <% filterData.forEach(info => { %>
        <tr>
          <td><%= info.complex_name %></td>
          <td><%= info.variantName %></td>
          <td><%= info.departurePricePersons %></td>
            <% info.departureDates.forEach((date) => { %>
              <td><%= date %> </td> 
            <% }); %>
        </tr>
      </tbody>
      <% }) %>
    </table>
  </section>

  <div class="svg-loader">
    <svg class="svg-container" height="100" width="100" viewBox="0 0 100 100">
      <circle class="loader-svg bg" cx="50" cy="50" r="45"></circle>
      <circle class="loader-svg animate" cx="50" cy="50" r="45"></circle>
    </svg>
  </div>
</main>

<%- include('./partials/foot.ejs') %>
