<%- include('./partials/head.ejs') %>

<header>
  <img src="./assets/sportieklogo.png" alt="">
</header>

<main>
  <section class="information">
    <table id="left"  cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Accommodatie</th>
          <th>Kamertype</th>
          <th>Personen</th>
          <th>Datum</th>

        </tr>
      </thead>
      <tbody>
        <% data1.sort((a, b) => new Date(a.departureDate) - new Date(b.departureDate)); %>
        <% checkdata.forEach(info => { %>
        <tr>
          <td><%= info.complex_name %></td>
          <td><%= info.accomodatie_description %></td>
          <td><%= info.departurePricePersons %></td>
          <td id="datum"><%= info.departureDate %></td>
        </tr>
      </tbody>
      <% }) %>
    </table>
  </section>

  <div class="svg-loader">
    <svg class="svg-container" height="100" width="100" viewBox="0 0 100 100">
      <circle class="loader-svg bg" cx="50" cy="50" r="45"></circle>
      <circle class="loader-svg animate" cx="50" cy="50" r="45"></circle>
    </svg>
  </div>
</main>

<%- include('./partials/foot.ejs') %>
